/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$color-primary: #de1e26;
$color-secondary: #fff0d4;
$color-main-bg: #333;
$color-border: #999999;

$header-height: 78px;
$header-height-small: 52px;
$footer-height: 300px;

$z-header: 2;





/*------------------------------------*\
    #BASE
\*------------------------------------*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $color-main-bg;
}

body {
  position: relative;
  font-family: $fontHighlight;
  font-weight: 300;
  color: white;  
  box-sizing: border-box;
  min-height: 100%;
}

a {
  color: white;

  &:hover,
  &:visited {
    color: white;
  }

}

main {
  margin-top: $header-height; /* height of fixed header */
  margin-bottom: $footer-height; /* height of fixed footer */
  background-color: $color-main-bg;
}





/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

// buttons - override WSK

.button,
.button--primary,
.button--secondary {
  transition: 150ms $animationEasing;
}

.button--primary {
  margin: $lineHeight*2 0;  
  background: #222;
  border-color: $color-border;
}


// secondary hero image

.secondary-hero {
  height: $lineHeight*6;
  width: 100%;
  margin-top: $lineHeight;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.secondary-hero--about {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/hero-3.jpg');
}

.secondary-hero--quote {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/minto-beechwood.jpg');
}


//dropcap

.dropcap:first-of-type:first-letter {
  float: left;
  margin: 12px 5px 5px 0;
  // padding: 10px 14px;
  // border: solid 2px #222;
  font-size: $fontXXLarge;
  color: $color-primary;
}


//section divider

.section-divider {
  margin-top: $lineHeight;
  
  &::before {
    content: '';
    display: block;
    height: 3px;
    width: 50px;    
    background: $color-primary;
  }

}

.section-wrap {
  margin-top: $lineHeight*2;
}





/*------------------------------------*\
    #NGANIMATE
\*------------------------------------*/

[ng-view].ng-enter,
[ng-view].ng-leave {
  position: absolute;
  // z-index: $z-header;
  left: 0;
  right: 0;
  transition: 350ms;
}

[ng-view].ng-enter {
  transform: translate3d(0, -150px, 0);
  opacity: 0;
}

[ng-view].ng-enter-active {
  transition-delay: 250ms;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

[ng-view].ng-leave {
  opacity: 1;

}

[ng-view].ng-leave-active {
  opacity: 0;
  transform: scale(0.98);
}


//slide

.nganimate-slide {
  transition: 200ms $animationEasing;
}

.nganimate-slide.ng-enter {
  opacity: 0;
  transform: translate3d(-15px, 0, 0);
}

.nganimate-slide.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.nganimate-slide.ng-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.nganimate-slide.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translate3d(15px, 0, 0);
}

.nganimate-slide.ng-enter-stagger {
  transition-delay: 0.1s;
  /* in case the stagger doesn't work then the duration value
   must be set to 0 to avoid an accidental CSS inheritance */
  transition-duration: 0s;
}


// fade

.nganimate-fade {
  transition: 200ms $animationEasing;
}

.nganimate-fade.ng-enter {
  opacity: 0;
  transform: translate3d(-15px, 0, 0);
}

.nganimate-fade.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.nganimate-fade.ng-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.nganimate-fade.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translate3d(15px, 0, 0);
}

// fade show/hide

.nganimate-fade.ng-hide {
  opacity: 0;
}

.nganimate-fade.ng-show {
  animation: fadeIn 300ms $animationEasing;
}






/*------------------------------------*\
    #ANIMATIONS
\*------------------------------------*/

.animate-fadein {
  animation: fadeIn 300ms $animationEasing;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





/*------------------------------------*\
    #LOADING BAR - OVERRIDE PLUGIN
\*------------------------------------*/

#loading-bar .bar {
  background: #fff;
  top: $header-height;
  height: 2px;
}

/* Fancy blur effect */
#loading-bar .peg {
  box-shadow: #FFF 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  width: 30px;
  height: 30px;
  border-top-color:  #FFF;
  border-left-color: #FFF;
  border-radius: 50%;
}





/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header-main {
  position: fixed;
  width: 100%;
  z-index: $z-header;
  top: 0;
  // background: $color-primary;
  background: rgba(222, 30, 38, 0.9);
}

.nav-main__list {
  padding: 0;
  text-align: right;
}

.nav-main__item {
  display: inline-block;
  padding: 0;

  &::before {
    display: none; /* hide bullets */
  }

}

.nav-main__link {
  display: inline-block;
  padding: $lineHeight/2;
  color: white;  
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 150ms $animationEasing;

  @include media-query(medium) {
    padding: $lineHeight;
    font-size: $fontMedium;
  }

  &:hover {
    color: white;
    background-color: darken($color-primary, 10%);
  }

  &:visited {
    color: white;
  }

}





/*------------------------------------*\
    #HERO
\*------------------------------------*/

// .hero-wrap {
//   margin-top: 78px;
// }

.hero {
  background: $color-main-bg;   

  @include media-query(medium) {
    width: 50%;
    float: left;
    height: 450px;
  }

}

.hero--left {
  // width: 66.666%;
  padding: $lineHeight*2;
}

.hero--right {
  // width: 33.333%;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  // background-attachment: fixed;
  // background-position: 100%;
  // box-shadow: inset 1px 4px 1px 0px rgba(0, 0, 0, 0.75);
}

.hero__logo {
  max-width: 500px;
}

.instagram-search {
  margin-top: $lineHeight*3;
}

.instagram-search__input {
  width: 75%;
  max-width: 500px; 
  padding: 5px;
  background-image: none;
  border: none;
  -webkit-appearance: none;
  background: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  font-size: $fontMedium;
  transition: 150ms $animationEasing;

  &:focus, &:hover {
    background-color: #222;
    outline: none;    
  }

  &:focus {
    border-bottom: 1px solid $color-primary;
  }

}

// autocomplete plugin override

.autocomplete {
  
  ul {
    padding: 0;
  }

  li {
    background: #333;

    &::before {
      display: none; /* hide bullets */
    }

  }

}





/*------------------------------------*\
    #INSTAGRAM FEED
\*------------------------------------*/

.instagram-feed {
  padding: 0;
  background: #222;
}

.instagram-feed__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  overflow: hidden;  

  @include media-query(medium) {
    width: 50%;
  }

  @include media-query(wide) {
    width: 33.33%;
  }

  @include media-query(huge) {
    width: 25%;
  }

  &::before {
    display: none; /* hide bullets */
  }

}

.instagram-feed__img {
  transition: 150ms $animationEasing;

  .instagram-feed__item:hover & {
    // transition: 7s $animationEasing;
    transform: scale(1.05);
  }

}

//caption & count hover

.instagram-feed__item-hover {
  
  @include media-query(medium) {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $lineHeight/2;
    background: rgba(0, 0, 0, 0.9);
    transition: 150ms $animationEasing;

    &:hover {
      opacity: 1;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 85px;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,1) 100%);;
    }
  }

}

.instagram-feed__text {

  @include media-query(medium) {
    padding-top: 0;
    opacity: 0;
    transform: translate3d(0, -25px, 0);
    transition: 150ms $animationEasing;

    .instagram-feed__item:hover & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

}

.instagram-feed__link {
  
  @include media-query(medium) {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: $color-primary;
    font-weight: 600;
  }

    &:visited {
      color: $color-primary;
    }

}

.instagram-feed__count {

  @include media-query(medium) {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transform: translate3d(0, 25px, 0);
    transition: 150ms $animationEasing 50ms;

    .instagram-feed__item:hover & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

    p {
      padding: 0;
      display: inline-block;
    }

    img {
      display: inline-block;
    }

}

// load more button

.instagram-loadmore {
  background: $color-main-bg;
  // margin-bottom: 300px;
}





/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer-main {
  position: fixed;
  z-index: -1;
  right: 0;
  left: 0;
  bottom: 0;
  // background: #444;
}

.social {
  margin-bottom: $lineHeight*2;
  background: #222;
  border-top: 2px solid $color-border;
  border-bottom: 2px solid $color-border;
}

.social__icon {
  display: block;
  float: left;
  padding: $lineHeight;
  transition: 150ms $animationEasing;

  &:hover {
    background: #111;
  }

}

.contact  {
  text-align: right;
  margin-top: 15px;
  margin-right: $lineHeight;

  a {
    text-decoration: none;
  }

}

.contact__address {
  padding: 0;
}

.footer-main__logo {
  position: fixed;
  z-index: -1;
  bottom: 0;
  opacity: 0.5;
}





/*------------------------------------*\
    #QUOTE
\*------------------------------------*/

.required-text {
  margin-bottom: $lineHeight;
  text-align: right;
}

.legend {
  padding-bottom: $lineHeight;
}

.form-group {
  margin-bottom: $lineHeight;
}

.label {
  display: block;
}

.input-text {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  background: none;
  background-image: none;
  border-bottom: 1px solid white;  
  font-size: $fontMedium;
  transition: 150ms $animationEasing;

  &:focus, &:hover {
    background-color: #222;
    outline: none;    
  }

  &:focus {
    border-bottom: 1px solid $color-primary;
  }

}

.select {
  width: 100%;
  color: #333;
}

.helper-text {
  font-size: $fontSmall;
  color: #ccc;
}

// remove firefox default styling for required inputs
[required] {
  box-shadow: none;
}

// add/remove deliverable buttons

.deliverable__delete {
  margin-top: -13px;
  padding: 0 8px;
  background: $color-primary;
  border: 1px solid $color-main-bg;
  float: right;

  @include media-query(medium) {
    position: absolute;
    right: -30px;
    bottom: 17px;
  }

  &:hover {
    background: darken($color-primary, 20%);
  }

}

.deliverable__add {
  margin-top: 0;
  margin-bottom: $lineHeight;
  padding: 6px 16px;
  border: 1px solid darken($color-border, 20%);
}

.deliverable__msg {
  display: block;
  margin-bottom: $lineHeight;
}


//success & error message

.success-msg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(0,0,0,0.85);
  padding: $lineHeight*2;
  color: green;
  font-size: $fontLarge;
  animation: successMsg 300ms $animationEasing;
}

@keyframes successMsg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error-msg {
  color: $color-primary;
  font-size: $fontLarge;
}


//Angular validation

input.ng-invalid.ng-touched {
  background-color: rgba(215, 40, 40, 0.25);
}





/*------------------------------------*\
    #UTILS
\*------------------------------------*/

.pos-relative {
  position: relative;
}

.bg-light {
  background: #444;
}

.text-red {
  color: $color-primary;
}

.font-italic {
  font-style: italic;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}





/*------------------------------------*\
    #FONTS
\*------------------------------------*/

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(../fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(../fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(../fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(../fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(../fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(../fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
