<div class="secondary-hero secondary-hero--about">
	<div class="container">
		<h1>About</h1>
	</div>
</div>

<div class="container section-wrap">
	
	<p class="dropcap medium g-wide--pull-1">Norm Li Architectural Graphics + Illustrations collaborates with the industry’s top architecture firms, developers, builders, designers and marketing agencies.  We strive to deliver visual clarity and artistry in all of our images – schematic and conceptual drawings; high quality renderings; video animations; user-navigated interactive experiences (LIQUID); virtual and augmented reality apps.</p>
	
	<p class="medium g-wide--pull-1">Our talented illustrators have strong design backgrounds and creative technical skills.  We take pride in our proven track record of providing exceptional client service and delivering quality architectural visualizations on time and on budget.  We’re here to help our clients look great.  And we have some fun while we do it.</p>
	
	<a href="mailto:info@normli.ca" class="button--primary">CONTACT US</a>

</div>