<div class="container">

	<h1>Request Quote</h1>

	<div ng-controller="ContactController">        

        <form class="form" ng-submit="submit(contactform)" name="contactform" method="post" role="form">

            <p class="required-text">Required (<span class="text-red">*</span>)</p>

            <fieldset>            
                <div class="form-group g-wide--1">
                    <label class="label" for="requestDate">Date of Request <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.requestDate" type="text" id="requestDate" name="requestDate" placeholder="YY/MM/DD" required>
                </div>
                <div class="form-group g-wide--3 g-wide--last">
                    <label class="label" for="requestName">Name <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.requestName" type="text" id="requestName" name="requestName" required>
                </div>
                <div class="form-group g-wide--2">
                    <label class="label" for="requestEmail">Email <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.requestEmail" type="email" id="requestEmail" name="requestEmail" required>
                </div>
                <div class="form-group g-wide--2 g-wide--last">
                    <label class="label" for="requestPhone">Phone <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.requestPhone" type="tel" id="requestPhone" name="requestPhone" required>
                </div>
                <div class="form-group g-wide--2">
                    <label class="label" for="companyName">Company Name <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.companyName" type="text" id="companyName" name="companyName" required>
                </div>
                <div class="form-group g-wide--2 g-wide--last">
                    <label class="label" for="projectName">Project Name <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.projectName" type="text" id="projectName" name="projectName" required>
                </div>
            </fieldset>

            <fieldset>
                <legend class="legend xlarge">Project Description</legend> 
                <div class="form-group g-wide--1" ng-init="formData.projectType = 'Residential'">
                    <label class="label">Type <span class="text-red">*</span></label>
                    <select ng-model="formData.projectType" name="projectType" required>
                        <option value="Residential">Residential</option>
                        <option value="Institutional">Institutional</option>
                        <option value="Commercial">Commercial</option>
                        <option value="Retail">Retail</option>
                        <option value="Infrastructure">Infrastructure</option>
                    </select>
                </div>
                <div class="form-group g-wide--3 g-wide--last">
                    <label class="label" for="projectLocation">Location <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.projectLocation" type="text" id="projectLocation" name="projectLocation" placeholder="Address or Major Intersection, City" required>
                </div>
                <div class="form-group g-wide--4 g-wide--last">
                    <label class="label" for="projectHighlight">Project Highlight <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.projectHighlight" type="text" id="projectHighlight" name="projectHighlight" placeholder="Most important feature to show or focus on for your project?" required>
                </div>
                <div class="form-group g-wide--1" ng-init="formData.projectPeople = 'None'">
                    <label class="label">People <span class="text-red">*</span></label>
                    <select ng-model="formData.projectPeople" name="projectPeople" required>
                        <option value="None">None</option>
                        <option value="Photo-real">Photo-real</option>
                        <option value="Silhouettes">Silhouettes</option>
                    </select>
                </div>                
                <div class="form-group g-wide--3 g-wide--last" ng-init="formData.projectImgSize = 'Standard 5,000 pixels'">
                    <label class="label">Image Size Options <span class="text-red">*</span></label>
                    <select ng-model="formData.projectImgSize" name="projectImgSize" required>
                        <option value="Standard 5,000 pixels">Standard 5,000 pixels</option>
                        <option value="Oversize 10,000 pixels">Oversize 10,000 pixels (extra processing fee $500/image)</option>
                        <option value="Special Request">Special Request >$10,000 pixels (call Norm to discuss)</option>
                    </select>
                </div>
            </fieldset>

            <fieldset>
                <legend class="legend xlarge">Deliverables <span class="base">| Description (View/Day/Dusk/Season/Orientation/TBC)</span></legend>
                <div class="form-group g-wide--2">
                    <label class="label" for="projectExterior">Exterior <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.projectExterior" type="text" id="projectExterior" name="projectExterior" required>
                </div>
                <div class="form-group g-wide--2 g-wide--last">
                    <label class="label" for="projectInterior">Interior <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.projectInterior" type="text" id="projectInterior" name="projectInterior" required>
                </div>
                <div class="form-group g-wide--2">
                    <label class="label" for="projectPlan">Plan <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.projectPlan" type="text" id="projectPlan" name="projectPlan" required>
                </div>
                <div class="form-group g-wide--2 g-wide--last">
                    <label class="label" for="projectAerial">Aerial <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.projectAerial" type="text" id="projectAerial" name="projectAerial" required>
                </div>
                <div class="form-group g-wide--2">
                    <label class="label" for="projectAnimation">Animation <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.projectAnimation" type="text" id="projectAnimation" name="projectAnimation" placeholder="Duration (seconds/minutes)" required>
                </div>
                <div class="form-group g-wide--2 g-wide--last">
                    <label class="label" for="projectImgNumber">Total No. Images <span class="text-red">*</span></label>
                    <input class="input-text" ng-model="formData.projectImgNumber" type="text" id="projectImgNumber" name="projectImgNumber" required>
                </div>
            </fieldset>                


            <!-- success/error message -->
            <p ng-class="result">{{ resultMessage }}</p>

            <!-- submit button -->
            <div class="form-group">
                <button type="submit" class="button--primary instagram-loadmore__btn" ng-disabled="submitButtonDisabled">Send Message</button>
            </div>

        </form>        

    </div>

</div>