<div class="container">

	<h1>Request Quote</h1>

<!-- 	<form action="">

		<label for="date-request">Date of Request</label>
		<input type="date" id="date-request">

		<label for="name">Name</label>
		<input type="text" id="name">

		<label for="email">Email</label>
		<input type="text" id="email">

		<label for="phone">Phone</label>
		<input type="text" id="phone">

		<label for="company">Company Name</label>
		<input type="text" id="company">

	</form> -->

	<div ng-controller="ContactController">
        <form ng-submit="submit(contactform, $event)" name="contactform" method="post" action="" role="form">
            <div class="form-group">
                <label for="inputName" class="">Name</label>
                <input ng-model="formData.inputName" type="text" id="inputName" name="inputName" placeholder="Your Name" required>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="">Email</label>
                <input ng-model="formData.inputEmail" type="email" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
            </div>
            <div class="form-group">
                <label for="inputSubject" class="">Subject</label>
                <input ng-model="formData.inputSubject" type="text" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
            </div>
            <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                <label for="inputMessage" class="">Message</label>
                <textarea ng-model="formData.inputMessage" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">Send Message</button>
            </div>
        </form>
        <p ng-class="result">{{ resultMessage }}</p>

    </div>

</div>