<div ng-controller="InstagramfeedCtrl">

  <!-- HERO -->
  <section class="hero-wrap clear">

    <div class="hero hero--left">
      <img class="hero__logo" src="images/normli-logo.svg" alt="Norm Li logo">
      <!-- search instgram hash -->
      <form class="instagram-search" ng-submit="search()" autocomplete="off">
        <img src="images/search.svg" alt="search icon">
        <label class="visuallyhidden" for="search">Search our instagram hash tag</label>
        <!-- <input class="instagram-search__input" placeholder="SEARCH #HASHTAG" id="search" type="search" ng-model="searchTerm"/> -->
        <!-- <button class="instagram-search__button" type="submit">Search</button> -->      

<!--         <angucomplete-alt id="search"
              placeholder="SEARCH #HASHTAG"
              input-class="instagram-search__input"
              pause="100"
              selected-object="selectedHash"
              local-data="hashtags"
              search-fields="tag"
              title-field="tag"
              minlength="0"/> -->
              <autocomplete 
              ng-model="searchTerm"
              data="hashtags"
              attr-placeholder="SEARCH #HASHTAG"
              attr-input-class="instagram-search__input"
              attr-input-id="search"
              click-activation="true"/>
      </form>
    </div>

    <div class="hero hero--right">
      <!-- <img src="images/hero.jpg" alt=""> -->
    </div>

  </section>


  <!-- INSTAGRAM FEED -->
  <section>

    <!-- no search results msg -->
<!--     <div class="container" ng-hide="pics.length">
      <h2>No results found</h2>
    </div> -->


    <!-- Instagram feed -->
    <ul class="instagram-feed">
      <!-- no results message -->
      <li ng-if="pics.length === 0"><h2>No results found</h2></li>
      <li class="instagram-feed__item nganimate-slide" ng-repeat="p in pics">    
        <img class="instagram-feed__img" ng-src="{{p.images.standard_resolution.url}}"/>      
        <div class="instagram-feed__item-hover">
          <!-- caption -->
          <p class="instagram-feed__text">{{p.caption.text}}</p>
          <!-- instagram link -->
          <a class="instagram-feed__link" href="{{p.link}}" target="_blank">View on Instagram</a>   
          <div class="instagram-feed__count">
            <!-- likes -->     
              <img src="images/likes.svg" alt="likes icon">
              <p>{{p.likes.count}}</p>            
            <!-- comments -->
              <img src="images/comments.svg" alt="likes comments">
              <p>{{p.comments.count}}</p>            
          </div>
        </div>
      </li>
    </ul>

    <!-- Instagram load more -->
    <div class="instagram-loadmore  centered">
      <button class="button--primary" type="button" ng-click="getMore()" ng-show="showMore">Load More</button>  
    </div>

  </section>

</div>
