<div ng-controller="InstagramfeedCtrl">

  <!-- HERO -->
  <section class="hero-wrap clear">

    <div class="hero hero--left">
      <img class="hero__logo" src="images/normli-logo.svg" alt="Norm Li logo">
      <!-- search instgram hash -->
      <form class="instagram-search" ng-submit="search()">
        <img src="images/search.svg" alt="search icon">
        <label class="visuallyhidden" for="search">Search our instagram hash tag</label>
        <input class="instagram-search__input" placeholder="SEARCH #HASH TAG" id="search" type="search" ng-model="searchTerm"/>
        <!-- <button class="instagram-search__button" type="submit">Search</button> -->      
      </form>
    </div>

    <div class="hero hero--right">
      <!-- <img src="images/hero.jpg" alt=""> -->
    </div>

  </section>


  <!-- INSTAGRAM FEED -->
  <section>

    <!-- no search results msg -->
    <div ng-hide="pics.length">
      <h2>No results found</h2>
    </div>


    <!-- Instagram feed -->
    <ul class="instagram-feed">
      <li class="instagram-feed__item" ng-repeat="p in pics">    
        <img class="instagram-feed__img" ng-src="{{p.images.standard_resolution.url}}"/>      
        <div class="instagram-feed__item-hover">
          <!-- caption -->
          <p class="instagram-feed__text">{{p.caption.text}}</p>
          <!-- instagram link -->
          <a class="instagram-feed__link" href="{{p.link}}" target="_blank">View on Instagram</a>   
          <div class="instagram-feed__count">
            <!-- likes -->     
              <img src="images/likes.svg" alt="likes icon">
              <p>{{p.likes.count}}</p>            
            <!-- comments -->
              <img src="images/comments.svg" alt="likes comments">
              <p>{{p.comments.count}}</p>            
          </div>
        </div>
      </li>
    </ul>

    <!-- Instagram load more -->
    <div class="centered">
      <button class="button--primary loadmore-btn" ng-click="getMore()" ng-show="showMore">Load More</button>  
    </div>
    
  </section>

</div>

<footer class="footer-main">
  <p class="large">NORM LI AG+I</p>
  <ul>
    <li>459 Bloor St. W., Suite 200</li>
    <li>Phone: 416.525.1097</li>
    <li>Email: info@normli.ca</li>
  </ul>
  <ul>
    <li><a href="">Vimeo</a></li>
    <li><a href="">Pinterest</a></li>
    <li><a href="">Twitter</a></li>
    <li><a href="">FB</a></li>
  </ul>
</footer>
